<% layout('layouts/boilerplate') %> 
<h1>Register</h1>
<form action="/register" method="POST" class="validated-form" novalidate>
  <div class="mb-3">
    <label for="name" class="form-label">Username</label>
    <input type="text" name="username" id="name" class="form-control" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="mb-3">
    <label for="mail" class="form-label">Email</label>
    <input type="email" name="email" id="mail" class="form-control" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="mb-3">
    <label for="pass">Password</label>
    <input type="password" name="password" id="pass" class="form-control" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <button class="btn btn-info">Register</button>
</form>